!= partial("_common")



  :markdown
    # Custom Post Types

.col-md-6
  :markdown
    ### Team
    - Name
    - Job Title
    - Image
    - Bio
    - Social Links

    ### Event
    - Date
    - Name
    - Description

    ## Vendors
    - Logo
    - Text
    - Category

    ### Press Release
    - Blog Style

.col-md-6
  :markdown

    ### Clients
    - Logo

    ### Testimonials
    - Logo
    - Text
    - Category

    ### Case Studies
    - Logo
    - Text
    - Blurb
    - Category

    ### Whitepapers & Reports
    - file upload
    - categories

    ### Careers



