!= partial("_common")

  :markdown
    # Application & Contact Forms

    Gravity Forms will be used to create the Application Forms. After they are created the forms will be updateable without programming knowledge. The data submitted to the forms will be emailed to a precified email address and also stored in the sites database. Form submissions can be exported to CSV format for integration in Excel or other spreadsheet applications.

    ##Forms

    #### Start A Business Application
    2 page form.

    #### Grow a Business Application
    4 page form

    #### Funding Application
    4 page form

    #### Contact Form(s)
    Simple forms








