!= partial("_common")
  :markdown
    ## Layouts
div.col-md-6
  :markdown
    #### Homepage
    ---
    #### General Fullwidth
    - about

    ---
    #### General w/ Sidebar
    - About the CNO

    ---
    #### Team List
    ---
    #### Team Single
    ---
    #### Tribal Enterprises
    - Atoka

div.col-md-6
  :markdown
    #### Business Development Opps. : List
    ---
    #### Business Development Opps. : Single
    ---
    #### News
    ---
    #### Contact
    - Form
    - Calendar

    ---
    #### Sub-Homepage
    - Small Busniess
    - About CSBDS


