!= partial("_common")



  :markdown
    # Custom Post Types

.col-md-6
  :markdown
    ### Team
    - Name
    - Title / Position
    - Image
    - Bio

    ## Commuinity
    - Name
    - Map
    - Address
    - mulitple text items (various data)
    - mulitple paragraph items (various data)
    - possible multiple images (info graphics)

    ### Business Development Opp.
    - Title
    - Featured Image
    - Image gallery
    - File (PDF) upload
    - Contact Form
    - Map

    ### News

    ### Event
    - Date
    - Name
    - Description




